{% extends 'meetups/base/base.html' %}
{% load static %}

{% block title %}All Meetups{% endblock %}

{% block site_css %}  
  <link rel="stylesheet" href="{% static 'meetups/styles/all-meetups.css' %}">
{% endblock %}

{% block main_heading %}
        <h1>We have some great meetups</h1>
{% endblock %} 

{% block header_content %}
        <p>Find one that suites your flavour</p>
{% endblock %}        

{% block body %}
        <section>
            <h2>Upcoming Meetups</h2>
            <ol>
                {% for i in meetups %}
                {% include 'meetups/includes/meetup_items.html' with title=i.title location=i.locations %}
                {% endfor %}
            </ol>
        </section>
{% endblock %}